@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

#map{
  z-index: 100;
  width: 500px;
  height: 500px;
}

.bg-primary-gradient {
  background: rgb(80,123,205);
background: radial-gradient(circle, rgba(80,123,205,1) 0%, rgba(51,78,147,1) 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
#home {
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(82.55deg, rgba(28, 45, 88, 0.3) 1.15%, rgba(28, 34, 88, 0) 88.3%),
  url(".\\assets\\Kodco_group.jpg"); */
  background-image: url(".\\assets\\Kodco_group_improved.jpg");
  width:100%;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: bottom;
  
}
#certificates {
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(82.55deg, rgba(28, 45, 88, 0.3) 1.15%, rgba(28, 34, 88, 0) 88.3%),
  url(".\\assets\\Kodco_group.jpg"); */
  background-image: url(".\\assets\\categories_bg.jpg");
  
}
#Projectss {

  background-color: white;
  background-image: radial-gradient(#fff 10%, transparent 11%),
    radial-gradient(#c6c6c6 10%, transparent 11%);
  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
  

}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

